body {
    background-color: #1c0950;
    color: white;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    border: 2px solid black;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 42px;
}

.low_p {
    margin-top: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.high_p {
    text-align: justify;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    text-indent: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.spacer {
    display: block;
    margin-top: 20px;
    text-indent: 20px;
}

.section-title {
    font-size: 32px; 
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

.box-1R {
    border: 2px solid black;
    background-color: #1c0950;
    width: 65%;
    height: 100%;
    justify-content: center;
}

.box-FL {
    text-align: center;
    border: 2px solid black;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-BL {
    border: 2px solid black;
    background-color: #2d2050;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.box-foc {
    border: 2px solid black;
    background-color: #1c0950;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-reg {
    border: 2px solid black;
    background-color: #2d2050;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
